/*
html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
*/
#bg1 {
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
  z-index:-1;
}
#bg2 {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  background-color: #CBBEB5;
}

.sky {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #1B3040;
}

.star:nth-child(1) {
  position: absolute;
  top: 222px;
  left: 598px;
  width: 4px;
  height: 4px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(2) {
  position: absolute;
  top: 4px;
  left: 488px;
  width: 4px;
  height: 4px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(3) {
  position: absolute;
  top: 399px;
  left: 445px;
  width: 3px;
  height: 3px;
  opacity: 0.45;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(4) {
  position: absolute;
  top: 230px;
  left: 716px;
  width: 4px;
  height: 4px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(5) {
  position: absolute;
  top: 288px;
  left: 326px;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(6) {
  position: absolute;
  top: 342px;
  left: 212px;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(7) {
  position: absolute;
  top: 182px;
  left: 177px;
  width: 3px;
  height: 3px;
  opacity: 0.45;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(8) {
  position: absolute;
  top: 112px;
  left: 324px;
  width: 3px;
  height: 3px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(9) {
  position: absolute;
  top: 1px;
  left: 235px;
  width: 4px;
  height: 4px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(10) {
  position: absolute;
  top: 285px;
  left: 250px;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(11) {
  position: absolute;
  top: 305px;
  left: 240px;
  width: 3px;
  height: 3px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(12) {
  position: absolute;
  top: 318px;
  left: 661px;
  width: 4px;
  height: 4px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(13) {
  position: absolute;
  top: 242px;
  left: 756px;
  width: 3px;
  height: 3px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(14) {
  position: absolute;
  top: 184px;
  left: 734px;
  width: 2px;
  height: 2px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(15) {
  position: absolute;
  top: 287px;
  left: 907px;
  width: 2px;
  height: 2px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(16) {
  position: absolute;
  top: 38px;
  left: 328px;
  width: 4px;
  height: 4px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(17) {
  position: absolute;
  top: 373px;
  left: 919px;
  width: 2px;
  height: 2px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(18) {
  position: absolute;
  top: 388px;
  left: 17px;
  width: 4px;
  height: 4px;
  opacity: 0.45;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(19) {
  position: absolute;
  top: 384px;
  left: 140px;
  width: 2px;
  height: 2px;
  opacity: 0.45;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(20) {
  position: absolute;
  top: 40px;
  left: 493px;
  width: 4px;
  height: 4px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(21) {
  position: absolute;
  top: 137px;
  left: 908px;
  width: 2px;
  height: 2px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(22) {
  position: absolute;
  top: 397px;
  left: 716px;
  width: 4px;
  height: 4px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(23) {
  position: absolute;
  top: 42px;
  left: 336px;
  width: 2px;
  height: 2px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(24) {
  position: absolute;
  top: 305px;
  left: 303px;
  width: 3px;
  height: 3px;
  opacity: 0.53333;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(25) {
  position: absolute;
  top: 44px;
  left: 158px;
  width: 4px;
  height: 4px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(26) {
  position: absolute;
  top: 366px;
  left: 805px;
  width: 3px;
  height: 3px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(27) {
  position: absolute;
  top: 180px;
  left: 542px;
  width: 3px;
  height: 3px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(28) {
  position: absolute;
  top: 103px;
  left: 969px;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(29) {
  position: absolute;
  top: 365px;
  left: 346px;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(30) {
  position: absolute;
  top: 258px;
  left: 150px;
  width: 3px;
  height: 3px;
  opacity: 0.53333;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(31) {
  position: absolute;
  top: 185px;
  left: 309px;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(32) {
  position: absolute;
  top: 150px;
  left: 330px;
  width: 3px;
  height: 3px;
  opacity: 0.45;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(33) {
  position: absolute;
  top: 31px;
  left: 417px;
  width: 2px;
  height: 2px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(34) {
  position: absolute;
  top: 296px;
  left: 608px;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(35) {
  position: absolute;
  top: 144px;
  left: 173px;
  width: 4px;
  height: 4px;
  opacity: 0.53333;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(36) {
  position: absolute;
  top: 307px;
  left: 807px;
  width: 4px;
  height: 4px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(37) {
  position: absolute;
  top: 340px;
  left: 60px;
  width: 4px;
  height: 4px;
  opacity: 0.53333;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(38) {
  position: absolute;
  top: 384px;
  left: 307px;
  width: 3px;
  height: 3px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(39) {
  position: absolute;
  top: 46px;
  left: 266px;
  width: 4px;
  height: 4px;
  opacity: 0.45;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(40) {
  position: absolute;
  top: 116px;
  left: 605px;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(41) {
  position: absolute;
  top: 65px;
  left: 805px;
  width: 3px;
  height: 3px;
  opacity: 0.53333;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(42) {
  position: absolute;
  top: 34px;
  left: 57px;
  width: 4px;
  height: 4px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(43) {
  position: absolute;
  top: 162px;
  left: 60px;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(44) {
  position: absolute;
  top: 19px;
  left: 463px;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(45) {
  position: absolute;
  top: 287px;
  left: 561px;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(46) {
  position: absolute;
  top: 310px;
  left: 324px;
  width: 4px;
  height: 4px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(47) {
  position: absolute;
  top: 103px;
  left: 816px;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(48) {
  position: absolute;
  top: 165px;
  left: 104px;
  width: 2px;
  height: 2px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(49) {
  position: absolute;
  top: 1px;
  left: 193px;
  width: 2px;
  height: 2px;
  opacity: 1.2;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}
.star:nth-child(50) {
  position: absolute;
  top: 382px;
  left: 580px;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 6px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
}

.moon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;
  margin: auto;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: inset #FFF1F9 -4px 4px 12px 4px, inset rgba(0, 0, 0, 0.2) -12px 12px 60px 4px, #1B3040 0 0 24px 1px, #FFF1F9 0 0 80px 4px;
}
.moon:before, .moon:after {
  content: "";
  opacity: 0.6;
  position: absolute;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.06) 2px 4px 4px 2px;
}
.moon:before {
  top: 14%;
  right: 26%;
  width: 5%;
  height: 10%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.moon:after {
  top: 20%;
  right: 30%;
  width: 15%;
  height: 20%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.sea {
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 200%;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 45%, #286d8a 80%), -webkit-radial-gradient(center -30px, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2a7392 0%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, #286d8a 80%), radial-gradient(circle at center -30px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2a7392 0%);
  background-repeat: repeat-x;
  background-size: 60px 120px;
  overflow: hidden;
}
.wave:before {
  content: "";
  position: absolute;
  top: 4%;
  left: -7%;
  -webkit-animation: wavy 1.8s ease-in-out alternate infinite;
          animation: wavy 1.8s ease-in-out alternate infinite;
  width: 200%;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 45%, #286d8a 80%), -webkit-radial-gradient(center -30px, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #3186aa 0%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, #286d8a 80%), radial-gradient(circle at center -30px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #3186aa 0%);
  background-repeat: repeat-x;
  background-size: 60px 120px;
}
.wave:first-child .sparkle {
  display: none;
}
.wave:nth-child(1) {
  top: 58%;
  left: -15%;
  width: 200%;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 45%, #286d8a 80%), -webkit-radial-gradient(center -30px, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #29708e 0%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, #286d8a 80%), radial-gradient(circle at center -30px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #29708e 0%);
  background-repeat: repeat-x;
  background-size: 60px 120px;
  -webkit-animation: wavy 1.4s ease-in-out alternate infinite;
          animation: wavy 1.4s ease-in-out alternate infinite;
}
.wave:nth-child(2) {
  top: 66%;
  left: -25%;
  width: 200%;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 45%, #286d8a 80%), -webkit-radial-gradient(center -30px, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2a7392 0%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, #286d8a 80%), radial-gradient(circle at center -30px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2a7392 0%);
  background-repeat: repeat-x;
  background-size: 60px 120px;
  -webkit-animation: wavy 2.8s ease-in-out alternate infinite;
          animation: wavy 2.8s ease-in-out alternate infinite;
}
.wave:nth-child(3) {
  top: 74%;
  left: -35%;
  width: 200%;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 45%, #286d8a 80%), -webkit-radial-gradient(center -30px, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2b7696 0%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, #286d8a 80%), radial-gradient(circle at center -30px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2b7696 0%);
  background-repeat: repeat-x;
  background-size: 60px 120px;
  -webkit-animation: wavy 4.2s ease-in-out alternate infinite;
          animation: wavy 4.2s ease-in-out alternate infinite;
}
.wave:nth-child(4) {
  top: 82%;
  left: -45%;
  width: 200%;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 45%, #286d8a 80%), -webkit-radial-gradient(center -30px, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2d799a 0%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, #286d8a 80%), radial-gradient(circle at center -30px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2d799a 0%);
  background-repeat: repeat-x;
  background-size: 60px 120px;
  -webkit-animation: wavy 5.6s ease-in-out alternate infinite;
          animation: wavy 5.6s ease-in-out alternate infinite;
}
.wave:nth-child(5) {
  top: 90%;
  left: -55%;
  width: 200%;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 45%, #286d8a 80%), -webkit-radial-gradient(center -30px, circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2e7d9e 0%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, #286d8a 80%), radial-gradient(circle at center -30px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70px, #2e7d9e 0%);
  background-repeat: repeat-x;
  background-size: 60px 120px;
  -webkit-animation: wavy 7s ease-in-out alternate infinite;
          animation: wavy 7s ease-in-out alternate infinite;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container__stars {
  max-width: 1000px;
}
.container__sparkles {
  top: 0;
  width: 800px;
}

.sparkle:nth-child(1) {
  position: absolute;
  bottom: 27px;
  left: 374px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.sparkle:nth-child(2) {
  position: absolute;
  bottom: 44px;
  left: 380px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}
.sparkle:nth-child(3) {
  position: absolute;
  bottom: 131px;
  left: 248px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}
.sparkle:nth-child(4) {
  position: absolute;
  bottom: 57px;
  left: 403px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}
.sparkle:nth-child(5) {
  position: absolute;
  bottom: 148px;
  left: 414px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.sparkle:nth-child(6) {
  position: absolute;
  bottom: 80px;
  left: 190px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
}
.sparkle:nth-child(7) {
  position: absolute;
  bottom: 121px;
  left: 318px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}
.sparkle:nth-child(8) {
  position: absolute;
  bottom: 11px;
  left: 479px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}
.sparkle:nth-child(9) {
  position: absolute;
  bottom: 20px;
  left: 176px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}
.sparkle:nth-child(10) {
  position: absolute;
  bottom: 126px;
  left: 446px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.sparkle:nth-child(11) {
  position: absolute;
  bottom: 128px;
  left: 600px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}
.sparkle:nth-child(12) {
  position: absolute;
  bottom: 189px;
  left: 90px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}
.sparkle:nth-child(13) {
  position: absolute;
  bottom: 21px;
  left: 125px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}
.sparkle:nth-child(14) {
  position: absolute;
  bottom: 107px;
  left: 115px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 1.9s;
          animation-duration: 1.9s;
}
.sparkle:nth-child(15) {
  position: absolute;
  bottom: 15px;
  left: 221px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.sparkle:nth-child(16) {
  position: absolute;
  bottom: 71px;
  left: 341px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
}
.sparkle:nth-child(17) {
  position: absolute;
  bottom: 77px;
  left: 378px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
}
.sparkle:nth-child(18) {
  position: absolute;
  bottom: 80px;
  left: 495px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}
.sparkle:nth-child(19) {
  position: absolute;
  bottom: 66px;
  left: 590px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
}
.sparkle:nth-child(20) {
  position: absolute;
  bottom: 60px;
  left: 168px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
.sparkle:nth-child(21) {
  position: absolute;
  bottom: 179px;
  left: 334px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2.6s;
          animation-duration: 2.6s;
}
.sparkle:nth-child(22) {
  position: absolute;
  bottom: 134px;
  left: 130px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2.7s;
          animation-duration: 2.7s;
}
.sparkle:nth-child(23) {
  position: absolute;
  bottom: 43px;
  left: 548px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
}
.sparkle:nth-child(24) {
  position: absolute;
  bottom: 136px;
  left: 343px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 2.9s;
          animation-duration: 2.9s;
}
.sparkle:nth-child(25) {
  position: absolute;
  bottom: 73px;
  left: 592px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.sparkle:nth-child(26) {
  position: absolute;
  bottom: 54px;
  left: 156px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3.1s;
          animation-duration: 3.1s;
}
.sparkle:nth-child(27) {
  position: absolute;
  bottom: 147px;
  left: 392px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
}
.sparkle:nth-child(28) {
  position: absolute;
  bottom: 28px;
  left: 106px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
}
.sparkle:nth-child(29) {
  position: absolute;
  bottom: 54px;
  left: 565px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
}
.sparkle:nth-child(30) {
  position: absolute;
  bottom: 62px;
  left: 471px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}
.sparkle:nth-child(31) {
  position: absolute;
  bottom: 125px;
  left: 282px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3.6s;
          animation-duration: 3.6s;
}
.sparkle:nth-child(32) {
  position: absolute;
  bottom: 116px;
  left: 195px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3.7s;
          animation-duration: 3.7s;
}
.sparkle:nth-child(33) {
  position: absolute;
  bottom: 160px;
  left: 345px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3.8s;
          animation-duration: 3.8s;
}
.sparkle:nth-child(34) {
  position: absolute;
  bottom: 164px;
  left: 505px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 3.9s;
          animation-duration: 3.9s;
}
.sparkle:nth-child(35) {
  position: absolute;
  bottom: 25px;
  left: 316px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.sparkle:nth-child(36) {
  position: absolute;
  bottom: 71px;
  left: 589px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4.1s;
          animation-duration: 4.1s;
}
.sparkle:nth-child(37) {
  position: absolute;
  bottom: 35px;
  left: 283px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4.2s;
          animation-duration: 4.2s;
}
.sparkle:nth-child(38) {
  position: absolute;
  bottom: 200px;
  left: 245px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4.3s;
          animation-duration: 4.3s;
}
.sparkle:nth-child(39) {
  position: absolute;
  bottom: 59px;
  left: 444px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4.4s;
          animation-duration: 4.4s;
}
.sparkle:nth-child(40) {
  position: absolute;
  bottom: 121px;
  left: 470px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
}
.sparkle:nth-child(41) {
  position: absolute;
  bottom: 200px;
  left: 443px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4.6s;
          animation-duration: 4.6s;
}
.sparkle:nth-child(42) {
  position: absolute;
  bottom: 107px;
  left: 75px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4.7s;
          animation-duration: 4.7s;
}
.sparkle:nth-child(43) {
  position: absolute;
  bottom: 122px;
  left: 287px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4.8s;
          animation-duration: 4.8s;
}
.sparkle:nth-child(44) {
  position: absolute;
  bottom: 1px;
  left: 419px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 4.9s;
          animation-duration: 4.9s;
}
.sparkle:nth-child(45) {
  position: absolute;
  bottom: 131px;
  left: 438px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.sparkle:nth-child(46) {
  position: absolute;
  bottom: 12px;
  left: 565px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 5.1s;
          animation-duration: 5.1s;
}
.sparkle:nth-child(47) {
  position: absolute;
  bottom: 85px;
  left: 413px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 5.2s;
          animation-duration: 5.2s;
}
.sparkle:nth-child(48) {
  position: absolute;
  bottom: 62px;
  left: 583px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 5.3s;
          animation-duration: 5.3s;
}
.sparkle:nth-child(49) {
  position: absolute;
  bottom: 127px;
  left: 442px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 5.4s;
          animation-duration: 5.4s;
}
.sparkle:nth-child(50) {
  position: absolute;
  bottom: 115px;
  left: 598px;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  background-color: #FFF1F9;
  border-radius: 100%;
  box-shadow: #CBBEB5 0 0 2px, rgba(255, 255, 255, 0.2) 0 0 6px 2px;
  -webkit-animation: sparkling 0.2s linear infinite;
          animation: sparkling 0.2s linear infinite;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@-webkit-keyframes wavy {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(12px, 12px, 0);
            transform: translate3d(12px, 12px, 0);
  }
}

@keyframes wavy {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(12px, 12px, 0);
            transform: translate3d(12px, 12px, 0);
  }
}
@-webkit-keyframes sparkling {
  100% {
    opacity: 0;
  }
}
@keyframes sparkling {
  100% {
    opacity: 0;
  }
}
